* {
  box-sizing: border-box;
  max-width: 1440px;
  margin: auto;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


.contact {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.contact-end {
  width: 28%;
  display: flex;
  justify-content: space-between;
}

.Header {
  display: flex;
  height: 100px;
  background-color: #003F62;
  justify-content: space-between;
}

.Header img {
  width: 100px;
}

.input-group {
  height: 50px;
  width: 438px;
}

.a {
  text-decoration: none;
  color: aliceblue;
  margin: 10px;
}

.free-return {
  color: #003F62;
}


#img {
  width: 300px;
}

#sliders2-img {
  width: 200px;
  height: 100px;
}

#cardsImg {
  width: 200px;
  height: 100px;
}


.banner {
  background: url(../public/images/SaleLaptop.png);
  background-repeat: no-repeat;
  width: 100%;
  height: 500px;
  color: white;
  padding-top: 100px;
}

.banner h1 {
  color: #2E8FC5;
}

.banner input {
  background-color: orange;
  color: white;
  border: none;
  border-radius: 20px;
  height: 50px;
  width: 200px;
}

.mid_card img {
  width: 200px;
}


.RCard {
  height: 230px;
}

.ban {
  width: 80%;
  text-align: end;
}


.blue {
  display: flex;
  justify-content: center;
}